.ansi-main-container {
    border-bottom: 0.5px solid hsl(210, 8%, 85%);
    margin-bottom: 10px;

}
.ansi-post {
    width: 656px;
    
}

.ansi-owner {
    background-color: transparent;
}

.ansi-post > textarea {
    padding: 10px;
    border: 1px solid hsl(210,8%,75%);
    height: 180px;
    line-height: 1.3;
    width: 90%;
    font-size: 13px;
    tab-size: 4;
    background-color: white;
  }