.qfe-main-container {
    /* background-color: #f8f9f9; */
    min-height: 750px;
    max-width: 1215px;
    padding: 0 24px 24px 24px;
    margin: 0 auto;
  }
  
  .qfe-notice > h1 {
    font-weight: 600;
    /* font-weight: bold; */
    font-size: 28px;
    /* margin: 24px 0; */
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .qfe-message {
    padding: 24px;
    border: 1px solid hsl(206, 93%, 83.5%);
    border-radius: 6px;
    color: hsl(210, 8%, 25%);
    background-color: #ebf4fb;
    font-size: 14px;
    width: 70%;
  }
  
  .qfe-message > h2 {
    margin: 0;
    font-weight: 500;
  }
  
  .qfe-message > p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 15px;
  }
  .qfe-message > h4 {
    margin: 10px 0;
    font-size: 13px;
  
  }
  
  .qfe-message ul {
    margin: 0 10px 0 10px;
    padding-left: 20px;
    line-height: 1.3;
  }
  .qfe-message li {
    font-size: 13.5px;
  }
  
  .qfe-post-title {
    padding: 24px;
    margin-top: 16px;
    /* display: flex;
      flex-direction: column; */
    background-color: hsl(0, 0%, 100%);
    width: 70%;
    border: 1px solid hsl(210, 8%, 90%);
    border-radius: 4px;
  }
  
  .qfe-post-title > h4 {
    margin: 0;
  }
  
  .qfe-post-title > p {
    font-size: 11px;
    color: hsl(210, 8%, 25%);
  }
  
  .qfe-post-title > input {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(210, 8%, 75%);
    color: hsl(210, 8%, 5%);
    font-size: 13px;
    width: 95%;
    /* max-width: 753px; */
    padding: 7.8px 9.1px;
    border-radius: 6px;
  }
  
  .qfe-post-body {
    padding: 24px;
    margin-top: 16px;
    /* display: flex;
        flex-direction: column; */
    background-color: hsl(0, 0%, 100%);
    width: 70%;
    border: 1px solid hsl(210, 8%, 90%);
    border-radius: 4px;
  }
  
  .qfe-post-body > h4 {
    margin: 0;
  }
  
  .qfe-post-body > p {
    font-size: 11px;
    color: hsl(210, 8%, 25%);
  
    /* padding: 0; */
    /* margin: 0; */
  }
  
  .qfe-post-body > textarea {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(210, 8%, 75%);
    color: hsl(210, 8%, 5%);
    font-size: 13px;
    width: 95%;
    /* max-width: 753px; */
    padding: 6px 12px;
    border-radius: 6px;
    height: 150px;
    word-wrap: break-word;
    white-space: break-spaces;
  }
  
  .qfe-post-tags {
    padding: 24px;
    margin-top: 16px;
    /* display: flex;
        flex-direction: column; */
    background-color: hsl(0, 0%, 100%);
    width: 70%;
    border: 1px solid hsl(210, 8%, 90%);
    border-radius: 4px;
  }
  
  .qfe-post-tags > h4 {
    margin: 0;
  }
  
  .qfe-post-tags > p {
    font-size: 11px;
    color: hsl(210, 8%, 25%);
  
    /* padding: 0; */
    /* margin: 0; */
  }
  
  .qfe-post-tags > input {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(210, 8%, 75%);
    color: hsl(210, 8%, 5%);
    font-size: 13px;
    width: 95%;
    /* max-width: 753px; */
    padding: 7.8px 9.1px;
    border-radius: 6px;
  }
  
  .qfe-review {
    color: white;
    font-size: 13px;
    background-color: hsla(206, 100%, 52%, 1);
    padding: 8px 10px 8px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 4px;
    margin-right: 12px;
    align-self: center;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 16px;
  }
  
  .qfe-review:hover {
    background-color: hsla(206, 100%, 40%, 1);
  }
  

@media screen and (max-width: 600px) {
  .qfe-main-container {
    /* width: 70%; */
    /* padding: 0; */
  }
  .qfe-notice h1 {
    margin: 22px 0;
    font-size: 22px;
    height: auto;
  }

  .qfe-notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;

  }

  .qfe-message {
    width: 100%;
  }

  .qfe-message p {
    font-size: 14px;
    color: hsl(210, 8%, 25%);
  }


  .qfe-post-title {
    width: 85%;
  }

  .qfe-post-body {
    width: 85%;
  }
  
  .qfe-post-tags {
    width: 85%;
  }
}