.qf-main-container {
  min-height: 750px;
  max-width: 1215px;
  padding: 0 24px 24px 24px;
  margin: 0 auto;
}

.qf-notice>h1 {
  font-weight: 600;
  font-size: 28px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.qf-message {
  padding: 24px;
  border: 1px solid hsl(206, 93%, 83.5%);
  border-radius: 6px;
  color: hsl(210, 8%, 25%);
  background-color: #ebf4fb;
  font-size: 14px;
  width: 70%;
}

.qf-message>h2 {
  margin: 0;
  font-weight: 500;
}

.qf-message>p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 15px;
}

.qf-message>h4 {
  margin: 10px 0;
  font-size: 13px;

}

.qf-message ul {
  margin: 0px;
  padding-left: 20px;
  /* line-height: 1; */
  list-style: inside;
}

.qf-message li {
  line-height: 1.3;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.qf-post-title {
  padding: 24px;
  margin-top: 16px;
  /* display: flex;
    flex-direction: column; */
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  border: 1px solid hsl(210, 8%, 90%);
  border-radius: 4px;
}

.qf-post-title>h4 {
  margin: 0;
}

.qf-post-title>p {
  font-size: 12px;
  color: hsl(210, 8%, 25%);
  margin: 10px 0;
}

.qf-post-title>input {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 8%, 75%);
  color: hsl(210, 8%, 5%);
  font-size: 13px;
  width: 95%;
  padding: 7.8px 9.1px;
  border-radius: 6px;
}

.qf-post-body {
  padding: 24px;
  margin-top: 16px;
  /* display: flex;
      flex-direction: column; */
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  border: 1px solid hsl(210, 8%, 90%);
  border-radius: 4px;
}

.qf-post-body>h4 {
  margin: 0;
}

.qf-post-body>p {
  font-size: 12px;
  color: hsl(210, 8%, 25%);
  margin: 10px 0;
}

.qf-post-body>textarea {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 8%, 75%);
  color: hsl(210, 8%, 5%);
  font-size: 13px;
  width: 95%;
  padding: 6px 12px;
  border-radius: 6px;
  height: 150px;
  word-wrap: break-word;
  white-space: break-spaces;
}

.qf-post-tags {
  padding: 24px;
  margin-top: 16px;
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  border: 1px solid hsl(210, 8%, 90%);
  border-radius: 4px;
}

.qf-post-tags>h4 {
  margin: 0;
}

.qf-post-tags>p {
  font-size: 12px;
  color: hsl(210, 8%, 25%);
  margin: 10px 0;
}

.qf-post-tags>input {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 8%, 75%);
  color: hsl(210, 8%, 5%);
  font-size: 13px;
  width: 95%;
  /* max-width: 753px; */
  padding: 7.8px 9.1px;
  border-radius: 6px;
}

.qf-review {
  color: white;
  font-size: 13px;
  background-color: hsla(206, 100%, 52%, 1);
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 12px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  margin-top: 16px;
}

.qf-review:hover {
  background-color: hsla(206, 100%, 40%, 1);
}


@media screen and (max-width: 600px) {
  .qf-main-container {
    /* width: 70%; */
    /* padding: 0; */
  }
  .qf-notice h1 {
    margin: 22px 0;
    font-size: 22px;
    height: auto;
  }

  .qf-notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;

  }

  .qf-message {
    width: 100%;
  }

  .qf-message p {
    font-size: 14px;
    color: hsl(210, 8%, 25%);
  }


  .qf-post-title {
    width: 85%;
  }

  .qf-post-body {
    width: 85%;
  }
  
  .qf-post-tags {
    width: 85%;
  }
}