/* Main Container */
.sq-main-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

/* Content */
.sq-content {
  max-width: 1051px;
  padding: 24px;
}

/* Headline */
.sq-headline {
  width: 1051px;
}

.sq-headline-top {
  display: flex;
  justify-content: space-between;
}

.sq-headline-top > p {
  color: hsl(210, 8%, 25%);
  font-size: 24px;
  font-family: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
  margin: 0;
}

.sq-headline-top > button {
  color: white;
  font-size: 13px;
  background-color: hsla(206, 100%, 52%, 1);
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 7px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.sq-headline-top > button:hover {
  background-color: hsla(206, 100%, 40%, 1);
}

.sq-headline-bottom {
  margin: 8px 0;
  padding-bottom: 8px;
}

.sq-headline-bottom > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sq-headline-bottom > ul > li {
  color: #232629;
  font-size: 11px;
}

/* Post Layout */
.sq-post-layout {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sq-post-left-container {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  width: 100%;
}

.sq-post-left-container-top {
  display: flex;
}

.sq-votecell {
  width: 41px;
  padding-right: 16px;
  padding: 0 16px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsl(210, 8%, 25%);
  font-size: 20px;
  font-weight: bold;
}

.sq-votecell > button {
  padding: 10.4px;
  margin: 2px;
  border: 1px solid hsl(210, 8%, 85%);
  cursor: pointer;
  align-self: center;
  text-align: center;
  background-color: transparent;
  border-radius: 1000px;
  margin: 15px 0;
}

.sq-votecell > button:hover {
  background-color: #fce3cf;
}

.sq-votecell > button > i {
  margin: 0;
  padding: 0;
}

.sq-post-body {
  padding: 0 16px 0 0;
}

.sq-post {
}

.sq-post > p {
  margin-bottom: 16px;
  clear: both;
  font: inherit;
  text-align: left;
  color: hsl(210, 8%, 15%);
  line-height: 1.5;
}

.sq-post-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 0;
  padding: 4px 0 0 0;
}

.sq-post-taglist > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sq-post-taglist > ul > li {
  color: hsl(205, 47%, 42%);
  background-color: hsl(205, 46%, 92%);
  font-size: 12.5px;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 6px 0 0;
  cursor: pointer;
  text-decoration: none;
}

.sq-owner {
  padding: 5px 6px 7px 7px;
  color: hsl(210, 8%, 45%);
  text-align: left;
  font-size: 12px;
  background-color: hsl(205, 46%, 92%);
  width: 200px;
}

.sq-c-photo {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.sq-sub-owner {
  font-size: 14px;
  display: flex;
}

.sq-post-left-container-bottom {
  display: flex;
  flex-direction: column;
}

/* Related Questions */
.sq-relatedq {
  padding: 32px 16px 0 16px;
  text-align: left;
}

.sq-relatedq > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
}

.sq-relatedq > ul {
  list-style-type: none;
  border: 1px solid hsl(210, 8%, 80%);
  border-radius: 8px;
}

.sq-relatedq > ul > li {
  padding: 12px;
  align-items: center;
  color: hsl(206, 100%, 40%);
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}

.sq-relatedq > ul > li:hover {
  color: hsl(206, 100%, 52%);
}

/* Answer */
.sq-answer {
  padding: 0 16px 0 16px;
}

.sq-answer > p {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  padding: 20px 0;
}

.sq-answer-box {
  margin-bottom: 8px;
  text-align: left;
}

.sq-answer-box > textarea {
  padding: 10px;
  height: 200px;
  max-width: 676px;
  width: 100%;
  line-height: 1.3;
  font-size: 13px;
  tab-size: 4;
  border: 1px solid hsl(210, 8%, 75%);
}
