.profile-dropdown {
  position: absolute;
}

#topbar-container {
  height: 52px;
  width: 100%;
  margin: auto;
  border-top: 3px;
  border-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid hsla(27, 90%, 55%, 1);
  border-bottom: 1px solid hsla(210, 8%, 85%, 1);
  background-color: #FFFFFF;
}

.topbar-menu-img {
  width: 17px;
  height: 17px;
  padding: 0px 12px;
  
}

.topbar-logo {
  align-items: center;
}

.topbar-logo-img {
  width: 143px;
  height: 28px;
  padding: 0px 8px 0px 8px;
}

.topbar-options {
  display: flex;
  flex-direction: row;
  padding: 2px;
  gap: 3px;
  margin: 0;
  list-style-type: none;
  width: 235px;
  height: 29px; 
  justify-content: center;
  align-items: center;
}

.topbar-options-li {
  align-items: center;
  cursor: pointer;
  padding: 6px 12px 6px 12px;
}

.topbar-options-li > a {
  text-decoration: none;
  color: hsla(210, 8%, 35%, 1);
  font-size: 13px;
  white-space: nowrap;
}

.topbar-options-li:hover {
  background-color: hsla(210, 8%, 90%, 1);
  box-shadow: none;
  cursor: pointer;  
  padding: 3px 12px;
  border-radius: 1000px;
}

.topbar-form {
  max-width: 660px;
  min-width: 312px;
  width: 100%;
  padding: 0px 8px 0px 8px;
  height: 32px;
  position: relative;
  display: flex; 
  align-items: center;
}

.topbar-search {
  color: hsla(210, 8%, 25%, 1);
  padding: 8px 9px 8px 32px;
  border: 1px solid black;
  width: 100%;
  border: 1px solid hsla(210, 8%, 75%, 1);
  border-radius: 3px;
}

.topbar-lupa {
  height: 21px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 16px;
}

.topbar-login {
  color: hsla(205, 47%, 42%, 1);
  font-size: 13px;
  background-color: hsla(205, 46%, 92%, 1);
  padding: 8px 10px 8px 10px;
  border: 1px solid hsla(205, 41%, 63%, 1);
  border-radius: 3px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.topbar-login:hover {
  background-color: hsla(206, 100%, 97%, 1);
}

.topbar-signup {
  color: white;
  font-size: 13px;
  background-color: hsla(206, 100%, 52%, 1);
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 12px;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}



.topbar-signup:hover {
  background-color: hsla(206, 100%, 40%, 1);
}


@media (max-width: 390px) {
.topbar-container {
}

.topbar-logo-img {
  width: 40px;
  height: auto;
  padding: 0px 8px 0px 8px;
  margin-left: 10px;
}


.topbar-options {
  width: auto;
  margin-right: auto;
}

.topbar-options li {
  padding: 6px 12px 6px 0 !important;

}


.hide {
  display: none;
}

}